$main-color:#141414;
$white:#fff;
$link-color:rgba(0, 102, 255, 1);
$other-color:#34B321;

$grey:#151827;
$blue:#00ADC0;
$resolution: 1920;
$resolution2: 320;
// $kasperfort:'Kaspersky Sans';
@function vw($px) {
  @return (($px/$resolution) * 100)  + vw;
}
@function vw2($px) {
  @return (($px/$resolution2) * 100)  + vw;
}
@mixin for-xl {
    @media (min-width: 3100px) { @content; }
  }
  @mixin content-active {
    @media (max-width: 1600px) { @content; }
  }
  @mixin for-big {
    @media (max-width: 1500px) { @content; }
  }
  @mixin for-big-min {
    @media (max-width: 1550px) and (max-width: 1401px) { @content; }
  }
  @mixin content-active-1450{
    @media (max-width: 1450px) { @content; }
  }
  @mixin content-active-1400 {
    @media (max-width: 1400px) and (min-width:1024px) { @content; }
  }
  @mixin content-active-1300 {
    @media (max-width: 1400px) { @content; }
  }
  
@mixin for-lg {
    @media (max-width: 1200px) { @content; }
  }
  @mixin for-lit-desktop {
    @media (max-width: 1050px) { @content; }
  }
  @mixin for-md-desktop{
    @media (min-width: 1025px) { @content; }
  }
  @mixin for-desk {
    @media (max-width: 992px) { @content; }
  }
  @mixin for-md {
    @media (max-width: 1024px) { @content; }
  }
  @mixin for-lit-md {
    @media (max-width: 850px) { @content; }
  }
  @mixin for-sm {
    @media (max-width: 767px) { @content; }
  }
  @mixin for-tiny-tablet {
    @media (max-width: 650px) { @content; }
  }
  @mixin for-md-mob{
    @media (max-width: 550px) { @content; }
  }
  @mixin for-tiny-mob {
    @media (max-width: 440px) { @content; }
  }

  @mixin for-min-mob {
    @media (min-width: 650px) { @content; }
  }
  @mixin for-medium-mob{
    @media (max-width: 500px) { @content; }
  }
  @mixin for-lit-mob {
    @media (max-width: 450px) { @content; }
    }