@import "vars";
@import "libs";
@import "fonts";
$roboto:'Roboto' , 'sans-serif';
$Xolonium: 'Xolonium', 'sans-serif';
$black:#03050C;
$orange:#E55030;
$greyBg:#F3F3F3;
$light-black:#121930;
$green:#83B752;
$blue:#1C398E;
html{
    // height: 100%;
    margin: 0;
}
*{
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

body{
  touch-action: manipulation;
   
    height: 100%;
    font-family: $roboto;
    margin: 0;
    color: $light-black;

    font-size: 16px;
    line-height: 17px;
    background-color: $greyBg;
    overflow-x: hidden;
}
input{
  appearance: none;
  outline: none;
  border: none;
}
table{
  border-spacing: 0;
}
button:active, button:focus {
  outline: none !important;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus
{
outline: 0!important;
outline-color: transparent!important;
outline-width: 0!important;
outline-style: none!important;
box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}
a{
  color: $black;
  text-decoration: none;
  transition: .3s;
}
img{
    max-width:100%
}
.wrapper{
    position: relative;
    flex-direction: column;
   
    display: flex;
    width: 100%;
}

.container{
  max-width: 1515px;
  margin: 0 auto;
  width: 96%;
  // @include for-desk(){
  //   width: 100%;
  //   box-sizing: border-box;
  //   padding: 0 15px;
  // }
  @include for-md(){
    padding: 0 20px 0 98px;
    box-sizing: border-box;
    width: 100%;
  }
  @include for-sm(){
    padding: 0 10px;
  }
}
.row{
  display: flex;

  &--align-center{
    align-items: center;
  }
}
button{
  cursor: pointer;
  outline: none;
  border: none;
}
.button{
  position: relative;
  cursor: pointer;
  transition: .3s;
  font-size: 14px;
  line-height: 17px;
  font-family: $Xolonium;
  box-sizing: border-box ;
  color: $white;
  transition: .3s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  &--orange{
    font-size: 14px;
    letter-spacing: 0.56px;
    background-color: #E55030;
    span{
      position: relative;
      z-index: 10;
    }
    &:hover{
      &::before{
        width: 100%;
      
        left: 0;
      }
      &:after{
        width: 100%;
        opacity: 1;
        
      }
    }
    &::before{
      content: '';
      position: absolute;
      left: 50%;
      height: 100%;
      width: 0;
      background-color: #E6340D;

  
      transition:linear .3s;
      z-index: 10;
    }
    &:after{
      content: '';
      position: absolute;
      right: 0;
      height: 100%;
      width: 0;
      background-color: #1C398E;
      transition:linear .3s;
      opacity: 0;

    }
  }
  &--white{
    color: #03050C;
    letter-spacing: 0.56px;
    background-color: $white;
  }

}

.header{
  @include for-md(){
    padding-top: 19px;
  }
  &__number{
    font-size:22px;
    margin: 0 70px 0 auto;
    &:hover{
      color: $orange;
    }
    @include for-md(){
      margin: 0 0 0 auto;
    }
    @include for-sm(){
      display: none;
    }
  }
  &__button{
      padding: 32px 30px;
      max-width: 363px;
      width: 100%;
      @include for-md(){
        display: none;
      }
  }
  &__logo{
    width: 187px;
    @include for-md(){
      width: 141px;
    }
    @include for-sm(){
      width: 118px;
    }
  }
  &__burger{
    position: fixed;
    left: 3.7%;
    top: 32px;
    z-index: 500;
    cursor: pointer;
    @include for-md(){
      left: 20px;
      top: 26px;
    }
    @include for-sm(){
      left: auto;
      right: 10px;
    }
  }
}

.logo{
  &__image{
    transition: .3s;
    filter: grayscale(1);
  }
  &:hover{
    .logo__image{
      filter: none;
    }
  }
}
.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}
.link{
  display: inline-flex;
  align-items: center;
  color: $orange;
  font-size: 22px;
  line-height: 0;
  &:hover{
    .link__svg-container{
      width: 42px;
      svg{
        margin-left: 0;
      }
    }
  }
  &__svg-container{
    width: 27px;
    position: relative;
    overflow: hidden;
    transition: .3s;
    flex-shrink: 0;
    margin-left: 10px;


    svg{
      width: 42px;
      height: 24px;
      transition: .3s;
      margin-left: -15px;
    }
  }
}
.hero{
  padding: 121px 0 56px;
  position: relative;


  @include for-md(){
    padding: 88px 0 42px;
  }
  @include for-sm(){
    padding: 85px 0 42px;
  }
  &__row{
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 23px;
    @include for-md(){
      margin-top: 9px;
      flex-direction: column;
    }
    @include for-sm(){
      margin-top: 0;
    }
  }
  &__desc{
    max-width: 363px;
    margin-top: -10px;
    @include for-md(){
      margin-top: 0;
    }

    p{
      font-size: 22px;
      line-height: 34px;
      margin: 0 0 29px 0;
      @include for-md(){
        margin: 0 0 27px 0;
      }
    }
  }
  &__picture-container{
    position: relative;
    overflow: hidden;
    width: 1004px;
    height: 504px;
    background-image: url(../images/background.jpg);
    background-size: cover;
    @include for-md(){
      margin-top: 34px;
      width: 100%;
      height: 326px;
    }
    @include for-sm(){
      height: 152px;
    }

    img{
      margin: 7px 0 0 -56px;
      transition: linear .6s;
      @include for-md(){
        margin: 5px 0 0 -49px;
      }
      @include for-sm(){
        margin: 0px 0 0 -18px;
        max-width: 92%;
      }
    }

    &:hover{
      img{
        transform: rotate(12deg);
      }
    }
    
  }
}
.section-head{
  border-top: 2px solid $black;
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include for-md(){
    padding: 23px 0;
    flex-direction: column;
  }
  @include for-sm(){
    padding: 32px 0;
  }
  &__form{
    max-width: 620px;
    width: 100%;
    margin-top: 14px;
    @include for-md(){
      margin-top: 38px;
      max-width: 100%;
    }
  }
  &__desc{
    font-size: 22px;
    line-height: 34px;
    max-width: 748px;
    padding-top: 13px;
    @include for-md(){
      padding-top: 34px;
    }

    &--white{
      color: $white;
    }

    a{
      color: $orange;
    }
  }
  &--white{
    border-color: $white;
  }

  &__title{
    font-family: $Xolonium;
    font-weight: 700;
    margin: 0;
    display: inline-block;
    border-bottom: 2px solid $black;

    &--white{
      color: $white;
      border-color: $white;
    }
    span{
      color: $orange;
    }
    &--main{
      font-size: 65px;
      line-height: 75px;
      font-family: $roboto;
      padding-bottom: 25px;
      width: 100%;
      @include for-md(){
        font-size: 30px;
        line-height: 36px;
        padding-bottom: 31px;
      }
     
      span{
        font-family: $Xolonium;
       font-size: 124px;
       line-height: 127px;
       letter-spacing: 4.71px; 
       
      margin-bottom: -9px;
      display: block;
      @include for-md(){
        letter-spacing: 2.01px;
        font-size: 53px;
        line-height: 69px;
        margin-bottom: 12px;
      }
      @include for-sm(){
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.91px;
        margin-bottom: 2px;
      }

      }
    }

    &--medium{
      font-size: 60px;
      line-height: 80px;
      letter-spacing: 2.28px;
      max-width: 565px;
      padding-bottom: 20px;
      @include for-md(){
        letter-spacing: 2.01px;
        font-size: 53px;
        line-height: 70px;
      }
      @include for-sm(){
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.91px;
        max-width: 230px;
        padding-bottom: 32px;
      }
    }
  }
}

.privilege{
  padding: 106px 0 119px;
  background-color: $orange;
  position: relative;
  overflow: hidden;
  &__common{
    margin-top: 23px;
    @include for-md(){
      margin-top: 19px;
    }
    @include for-sm(){
      margin-top: 8px;
    }
  }
  @include for-md(){
    padding: 40px 0;
  }
}
.who-can{
  position: relative;
  overflow: hidden;
  padding: 120px 0 120px;
  &:hover{
    .who-can__image{
      transform: rotate(0deg);
    }
  }
  @include for-md(){
    padding: 40px 0 349px;
  }
  @include for-sm(){
    padding: 40px 0 282px;
  }
  &__common{
    margin-top: 25px;
    @include for-md(){
      margin-top: 10px;
    }
  }
  .common-item{
    @include for-sm(){
      min-height: 354px;
    }
  }
  &__image{
    position: absolute;
    right: -301px;
    top: 233px;
    transform: rotate(11deg);
    transition: linear .6s;
    
    @include for-md(){
      top: auto;
      bottom: -73px;
      z-index: 50;
      max-width: 74%;
      right: -131px;
      transform: rotate(-13deg);
    }
    @include for-sm(){
      max-width: 100%;
      bottom: 3px;
      right: -59px;
    }
   
  }
}
.marquee{
  background-color: $black;
  padding: 60px 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  &__item{
    img{
      flex-shrink: 0;
      margin-right: 70px;
    }
    &-title{
      font-size: 30px;
      line-height: 40px;
      color: $orange;
      font-family: $Xolonium;
      max-width: 322px;
    }

    & + &{
      margin-left: 70px;
    }
  }
  &:after{
    content: '';
    clear: both;
    display: table;
  }
}
.common{
 
  &__row{
    display: flex;
    flex-wrap: wrap;
    margin: -1px;
    position: relative;
  
    @include for-md(){
      flex-wrap: nowrap;
    }
  }

  &__col{
 
    padding: 1px;
    box-sizing: border-box;

   &--1-4{
    width: 25%;
   }
   &--2-4{
    width: 50%;
   }
   &--3-4{
    width: 75%;
   }
   &--4-4{
    width: 100%;
   }
   &--empty{
    @include for-md(){
      display: none;
    }
    
   }
   @include for-md(){
    width: 377px;
   }
   @include for-sm(){
    width: 260px;
    min-height: 318px;
   }
  }
}
.services{
  padding: 120px 0;
  @include for-md(){
    padding: 45px 0 39px;
  }
  .section-head__title{
    max-width: 603px;
    flex-shrink: 0;
  }
  &__list{
    margin-top: 47px;
    @include for-md(){
      border-top: 1px solid $black;
      margin-top: 8px;
    }

  }
  &-item{
    padding: 37px 100px 37px 0;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid $black;
    @include for-md(){
      padding: 35px 0 32px;
    }
    
    &__title{
      font-size: 40px;
      line-height: 43px;
      font-weight: 300;
      position: relative;
      &:after{
      @include for-md(){
        content: '';
        position: absolute;
        right: 0;
        bottom: -21px;
        height: 17px;
        width: 17px;
        border-bottom: 1px solid $orange;
        border-right: 1px solid $orange;
        box-sizing: border-box;
        border-bottom-right-radius: 3px;
      }
      }
    
    }
    &__desc{
      font-size: 16px;
      line-height: 22px;
      margin-top: 18px;
    }
    &__image-container{
      position: absolute;
      top: 0;
      right: 0;
      height: 100px;
      width: 92px;
    }
    &__body{
      display: none;
    }
  }
}
.profit{
   position: relative;
  overflow: hidden;
  background-color: $orange;
  padding: 114px 0;
  @include for-md(){
    padding: 40px 0;
  }

  .section-head__title{
    max-width: 725px;
  }
  &__common{
    margin-top: 22px;
    @include for-md(){
      margin-top: 2px;
    }
  }
  &__bowling{
    // padding-top: 163px;
    margin-top: -24px;
    @include for-md(){
      margin-top: 146px;
    }
    @include for-sm(){
      margin-top: 70px;
    }
  }
  @include for-sm(){
    .common-item{
      min-height: 423px;
    }
  }
}
.common-item{
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: 23px 30px;
  box-sizing: border-box;
  min-height: 377px;
  @include for-sm(){
    min-height: 318px;
    padding: 23px 20px;
  }
  &:hover{
    .common-item__price-icon-container{
      top: 15px;
    }
  }
  &--big{
    min-height: 392px;
    padding-bottom: 34px;
  }
  &--orange{
    background-color: $orange;
    color: $white;
  }
  &--blue{
    background-color: $blue;
    color: $white;
  }
  &__title{
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 17px;
  }
  &__desc{
    line-height: 22px;
  }
  &__price{
    position: relative;
    font-size: 55px;
    line-height: 30px;
    color: $green;
    font-weight: 300;
    padding-top: 74px;
    margin-top: auto;
    @include for-sm(){
      font-size:45px;
      line-height:50px;
    }
    &-icon-container{
      position: absolute;
      left: -9px;
      top: 0;
      height: 40px;
      width: 43px;
      transition:linear .3s;
      @include for-sm(){
        top: 21px;
      }
    }
   
    svg{
      height: 100%;
      width: 100%;
      fill: #83B752;
     
      transform: rotate(90deg);
    }
  }
  &__option{
    & + &{
      margin-top: 21px;
    }
    &-title{
      color: #7E8292;
      font-size: 14px;
      line-height: 22px;
    }
    &-value{
      font-size: 18px;
      line-height: 26px;
    }
  }
}

.bowling{
  position: relative;
  overflow: hidden;
  &__ball{
    position: absolute;
    bottom: 0;
    left: -54px;
    @include for-md(){
      left: -31px;
      width: 162px;
    }
    @include for-sm(){
      left: -65px;
      width: 104px;
    }
  }
  &__row{
    display: flex;
    justify-content: flex-end;
  }
  &__items{
    position: relative;
    background-color: $blue;
    width: 756px;
    height: 756px;
    display: flex;
    align-items: flex-end;
    padding-left: 45px;
    box-sizing: border-box;
    @include for-md(){
      width: 378px;
      height: 378px;
      padding-left: 25px;
    }
    @include for-sm(){
      width: 252px;
      height: 252px;
      padding-left: 6px;
    }
    &:before{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 252px;
      width: 252px;
      background-color: $orange;
      @include for-md(){
        width: 126px;
        height: 126px;
      }
      @include for-sm(){
        height: 86px;
        width: 86px;
      }
    }
    &::after{
      content: '';
      position: absolute;
      height: 252px;
      width: 252px;
      background-color: $green;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      @include for-md(){
        width: 126px;
        height: 126px;
      }
      @include for-sm(){
        height: 86px;
        width: 86px;
      }
    }
  }
    
  &__item{
    position: relative;
    z-index: 10;
    flex-shrink: 0;
    @include for-md(){
      width: 27.2%;
    }

    &--1{
      z-index: 20;
      @include for-sm(){
        width: 26.2%;
      }
    }
    &--2{
      margin-left: -59px;
      @include for-md(){
        width: 25%;
        margin-left: -32px;
      }
      @include for-sm(){
        width: 23.8%;
        margin-left: -20px;
      }
    }
    &--3{
      margin-left: -39px;
      @include for-md(){
        margin-left: -17px;
      }
      @include for-sm(){
        margin-left: -14px;
        width: 26.2%;
      }
    }
    &--4{
      z-index: 20;
      margin-left:-62px;
      @include for-md(){
        margin-left: -31px;
        width: 24.8%;
      }
      @include for-sm(){
        margin-left: -14px;
        width: 23.8%;
      }
    }
    &--5{
      margin-left:-63px;
      @include for-md(){
        margin-left: -34px;
        width: 25%;
      }
      @include for-sm(){
        margin-left: -18px;
        width: 24%;
      }
    }
  }
}
.footer{
  background-color: $black;
  padding-top: 128px;
  @include for-md(){
    padding-top: 119px;
  }
  @include for-sm(){
    padding-top: 42px;
  }
  &__bottom{
    margin-top: 96px;
    border-top: 2px solid $white;
    padding: 35px 0;
    @include for-md(){
      margin-top: 40px;
    }
    @include for-sm(){
      margin: 40px 10px 0;
      padding-bottom: 75px;
     .container{
      padding: 0;
     }
    }
    &-row{
      align-items: center;
      @include for-md(){
        flex-wrap: wrap;
      }
    }
  }
  &__copy{
    font-size: 14px;
    line-height: 17px;
    color: #7E8292;
    margin-right: 40px;
    @include for-sm(){
      margin-right: 0;
      width: 100%;
      margin-bottom: 34px;
    }
  }
  &__policy{
    color: $orange;
    font-size: 14px;
    line-height: 17px;
  }
  &__develop{
    margin-left: auto;
    @include for-md(){
      width: 100%;
      margin-top: 34px;
    }
  }
  &__items{
    margin-top: 53px;
    @include for-md(){
      margin-top: 0;
    }
  }
  &__item{
    &-link{
      color: $white;
      font-size: 44px;
      line-height: 47px;
      transition: .3s;
      font-weight: 300;
      &:hover{
        color: $orange;
      }
      @include for-sm(){
        font-size: 26px;
        line-height: 30px;
      }
    }
    &-desc{
      color: #7E8292;
      font-size: 18px;
      line-height: 21px;
      margin-top:20px;
      @include for-sm(){
        margin-top: 12px;
      }
    }
    & + &{
      margin-top:50px;
      @include for-md(){
        margin-top: 28px;
      }
    }
  }
  &__social{
    margin-top: 55px;
    @include for-md(){
      margin-top: 35px;
    }
    @include for-sm(){
      margin-top: 30px;
    }
  }
  &__desktop{
    @include for-md(){
      display: none;
    }
  }
  &__mobile{

    display: none;
    @include for-md(){
      display: block;
      margin: 17px -20px 0 -98px;
      padding:33px 20px 0 98px;
      box-sizing: border-box;
      border-top: 2px solid $white;
    }
    @include for-sm(){
      margin: 8px 0 0 0;
      padding: 34px 0 0 0;
    }
    
  }
 
}
.social{
  &__list{
    display: flex;
  }
  &__item{
    display: flex;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($white, .2);

    & + &{
      margin-left: 10px;
    }

    svg{
      display: block;
      max-width: 22px;
      fill: $white;
      max-height: 100%;
    }
  }
}
.develop{
  display: flex;
  align-items: center;
  &__title{
    font-size: 14px;
    line-height: 17px;
    color: #7E8292;
    margin-right: 17px;
    white-space: nowrap;
    @include for-md(){
      margin-right: 10px;
    }
  }
  img{
    max-width: 93px;
    width: 100%;
    flex-shrink: 0;
  }
}
.form{
  &__container{
    padding: 0 40px;
    box-sizing: border-box;
    @include for-sm(){
      padding: 0;
    }
  }
  &__pretitle{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
    color: #7E8292;
    padding-right: 20px;
    box-sizing: border-box;
  }
  &__title{
    color: $white;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 32px;
    &--big{
      font-size: 30px;
      line-height: 36px;
    }
    &--dark{
      color: #03050C;
    }
  }

  
  &__item{
    position: relative;

    & + &{
      margin-top: 20px;
    }
  }
  &__input{
    position: relative;
    z-index: 5;
    height: 80px;
    display: block;
    width: 100%;
    border: 2px solid rgba($white,.2);
    transition: linear .3s;
    background-color: transparent;
    box-sizing: border-box;
   
  
    &:focus,&:not(:placeholder-shown){
      ~ .form__label{
        font-size: 12px;
        top: -10px;
        background-color: $black;
        z-index: 10;
      

      }
    }
    &:focus{
      border-color: $white;
      border-bottom-color: $orange;
    }
    &--dark{
      border-color: #E4E5E8;
      &:focus,&:not(:placeholder-shown){
        ~ .form__label{
        
          background-color: $white;
         
        
  
        }
      }
      &:focus{
        border-color: #E4E5E8;
        border-bottom-color: $orange;
      }
    }
  }
  &__label{
    position: absolute;
    left: 20px;
    top: 30px;
    color: $white;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    transition: .3s linear;
    padding: 0 10px;
    &-req{
      color: $orange;
    }
    &--dark{
      color: #7E8292;
    }
  }
  &__checkbox{
    margin: 43px 0;
    @include for-md(){
      margin: 43px 0 35px;
    }
    @include for-sm(){
      margin: 38px 0 31px;
    }
  }
  &__button{
    display: block;
    height: 81px;
    width: 100%;
  }
  
}
.checkbox{
  &__container{
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 28px;
    display: block;
    svg{
      opacity: 0;
      transition: .3s;
      height: 100%;
      width: 100%;
      fill: $white;
    }

  }
  &--dark{
    .checkbox__icon{
      border-color: #E4E5E8;
    }
    .checkbox__text{
      color: #7E8292;
    }
  }
  &__icon{
    position: absolute;
    left: 0;
    top: -1px;
    height: 20px;
    width: 20px;
    border: 1px solid rgba($white, .2);
    box-sizing: border-box;
  }
  &__text{
    font-size: 14px;
    line-height: 22px;
    color: $white;
    a{
      color: $orange;
    }
  }
  input:checked + .checkbox__container{
    .checkbox__icon{
      border-color: $orange;
      background-color: $orange;

      svg{
        opacity: 1;
      }
    }
  }
}
.burger{
  width: 58px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // z-index: 5000;
  &:hover{
    .burger__item{
      &:nth-child(1){
        width: 70%;
        background-color: $orange;
      }
      &:nth-child(2){
        width: 100%;
        background-color: $blue;
      }
    }
  }

  &__item{
    transition: linear .3s;
    height: 2px;
    background-color: $black;
    
    &:nth-child(1){
      width: 100%;

    }
    &:nth-child(2){
      width: 70%;
      
    }
  }
}
.main-menu{
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4000;
  visibility: hidden;
  // display: none;
  &.js-active{
    visibility: visible;
    .main-menu__container{
      transform: none;
      opacity: 1;
    }
    .main-menu__shadow{
      opacity: 1;
      visibility: visible;
    }
    .main-menu__close{
      opacity: 1;
      left: 75px;
      @include for-sm(){
        right: 14px;
        left: auto;
      }
    }
  }
  &__close{
    position: absolute;
    top: 14px;
    left: 0;
    width: 44px;
    height: 44px;
    z-index: 5100;
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s;
    @include for-sm(){
      left: auto;
    }
   
    svg{
      height: 100%;
      width: 100%;
      display: block;
      fill: $white;
      transition: .3s;
    }
    &:hover{
      svg{
        fill: $black;
      }
    }
  }
  &__shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($white, .5);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
  }
  &__container{
    position: relative;
    z-index: 4500;
    background-color: $orange;
    height: 100%;
    width: 40%;
   
    overflow-y:auto ;
    transform: translateX(-100%);
    opacity: 0;
    transition:linear .3s;
    @include for-md(){
      width: 70%;
      min-width: 320px;
    }
  }
  &__list{
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px 50px 75px;
    box-sizing: border-box;
    list-style: none;
    @include for-sm(){
      padding: 100px 10px 50px;
    }
  }

  &__item + &__item{
    margin-top: 40px;
  }
  &__link{
    letter-spacing: 0.91px;
    font-size: 24px;
    line-height: 27px;
    font-family: $Xolonium;
    color: $white;
    position: relative;
    
    box-sizing: border-box;
    transition: .3s;
    @include for-sm(){
      font-size: 20px;
      line-height: 24px;
    }
    &:hover{
      padding-left: 75px;
      color: $black;
      @include for-sm(){
        padding: 0;
      }
      &:before{
        width: 50px;
      }
    }
    &::before{
      content: '';
      width: 0;
      height: 3px;
      background-color: $black;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -1.5px;
      transition: .3s;
      @include for-sm(){
        display: none;
      }
    }
  }
}
/* global */
.g-hidden { display: none; }
.g-line { zoom: 1; }
.g-line:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* modal */
.b-modal { position: relative; margin:0 auto; width:100%; max-width:1000px;;}

.modal-content{
 // position: fixed;
 // overflow: hidden;
}
/* modal */
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 11000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; width:100%; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle;
    @include for-tiny-tablet(){
        padding: 0;
    }
 }
.arcticmodal-error { padding: 20px;  border-radius: 10px; background: #000; color: #fff; }

.b-modal{
  max-width: 592px;
  width: 100%;
}
.modal-content{
  background-color: $white;
  padding-top: 37px;
  position: relative;
  @include for-sm(){
    padding: 37px 10px 40px;
  }
  &__close{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 20px;
    top: 20px;
    svg{
      height: 100%;
      width: 100%;
      fill: #7E8292;
    }
  }
}
.arcticmodal-overlay{
  background: url(../images/bg.jpg)  center center no-repeat !important;
  background-size:cover;
  opacity: 1 !important;
  &:hover{
    &:before,&:after{
      width: 0;
    }
  }
  &:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: rgba($black, 1);
    transition:linear .6s;


  }
  &:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    background-color: rgba($black, 1);
    transition:linear .6s;


  }
}
.mobile-buttons{
  display: none;
  @include for-md(){
    display: block;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 61px;
  }

  &__row{
    height: 100%;
    .button{
      // height: 100%;
      width: 50%;
    }
  }
}