@import "vars";
@import "libs";
@import "fonts";
$roboto:'Roboto' , 'sans-serif';
$Xolonium: 'Xolonium', 'sans-serif';
$black:#03050C;
$orange:#E55030;
$greyBg:#F3F3F3;
$light-black:#121930;
$green:#83B752;
$blue:#1C398E;
html{
    // height: 100%;
    margin: 0;
}
*{
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

body{
  touch-action: manipulation;
   
    height: 100%;
    font-family: $roboto;
    margin: 0;
    color: $light-black;

    font-size: 16px;
    line-height: 17px;
    background-color: $greyBg;
}
input{
  appearance: none;
  outline: none;
  border: none;
}
table{
  border-spacing: 0;
}
button:active, button:focus {
  outline: none !important;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus
{
outline: 0!important;
outline-color: transparent!important;
outline-width: 0!important;
outline-style: none!important;
box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}
a{
  color: $black;
  text-decoration: none;
  transition: .3s;
}
img{
    max-width:100%
}
.wrapper{
    position: relative;
    flex-direction: column;
   
    display: flex;
    width: 100%;
}

.container{
  max-width: 1515px;
  margin: 0 auto;
  width: 96%;
  @include for-desk(){
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
  }
}
.row{
  display: flex;

  &--align-center{
    align-items: center;
  }
}
button{
  cursor: pointer;
  outline: none;
  border: none;
}
.button{
  cursor: pointer;
  transition: .3s;
  font-size: 14px;
  line-height: 17px;
  font-family: $Xolonium;
  box-sizing: border-box ;
  color: $white;
  transition: .3s;
  text-align: center;
  &--orange{
    font-size: 14px;
    letter-spacing: 0.56px;
    background-color: #E55030;
  }

}

.header{
  &__number{
    font-size:22px;
    margin: 0 70px 0 auto;
    &:hover{
      color: $orange;
    }
  }
  &__button{
      padding: 32px 30px;
      max-width: 363px;
      width: 100%;
  }
  &__logo{
    width: 187px;
  }
}

.logo{
  &__image{
    transition: .3s;
    filter: grayscale(1);
  }
  &:hover{
    .logo__image{
      filter: none;
    }
  }
}
.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}
.link{
  display: inline-flex;
  align-items: center;
  color: $orange;
  font-size: 22px;
  line-height: 0;
  &:hover{
    .link__svg-container{
      width: 42px;
      svg{
        margin-left: 0;
      }
    }
  }
  &__svg-container{
    width: 27px;
    position: relative;
    overflow: hidden;
    transition: .3s;
    flex-shrink: 0;
    margin-left: 10px;


    svg{
      width: 42px;
      height: 24px;
      transition: .3s;
      margin-left: -15px;
    }
  }
}
.hero{
  padding: 121px 0 56px;
  position: relative;



  &__row{
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 23px;
  }
  &__desc{
    max-width: 363px;
    margin-top: -10px;

    P{
      font-size: 22px;
      line-height: 34px;
      margin: 0 0 29px 0;
    }
  }
  &__picture-container{
    position: relative;
    overflow: hidden;
    width: 1004px;
    height: 504px;
    background-image: url(../images/background.jpg);
    background-size: cover;

    img{
      margin: 7px 0 0 -56px;
      transition: linear .6s;
    }

    &:hover{
      img{
        transform: rotate(12deg);
      }
    }
    
  }
}
.section-head{
  border-top: 2px solid $black;
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &__desc{
    font-size: 22px;
    line-height: 34px;
    max-width: 748px;
    padding-top: 13px;

    a{
      color: $orange;
    }
  }
  &--white{
    border-color: $white;
  }

  &__title{
    font-family: $Xolonium;
    font-weight: 700;
    margin: 0;
    display: inline-block;
    border-bottom: 2px solid $black;

    &--white{
      color: $white;
      border-color: $white;
    }
    span{
      color: $orange;
    }
    &--main{
      font-size: 65px;
      line-height: 75px;
      font-family: $roboto;
      padding-bottom: 25px;
      width: 100%;
      span{
        font-family: $Xolonium;
       font-size: 124px;
       line-height: 127px;
       letter-spacing: 4.71px; 
       
      margin-bottom: -9px;
      display: block;

      }
    }

    &--medium{
      font-size: 60px;
      line-height: 80px;
      letter-spacing: 2.28px;
      max-width: 565px;
      padding-bottom: 20px;
    }
  }
}

.privilege{
  padding: 106px 0 119px;
  background-color: $orange;
  &__common{
    margin-top: 23px;
  }
}
.who-can{
  padding: 120px 0 120px;
  &__common{
    margin-top: 25px;
  }
}
.marquee{
  background-color: $black;
  padding: 60px 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  &__item{
    img{
      flex-shrink: 0;
      margin-right: 70px;
    }
    &-title{
      font-size: 30px;
      line-height: 40px;
      color: $orange;
      font-family: $Xolonium;
      max-width: 322px;
    }

    & + &{
      margin-left: 70px;
    }
  }
  &:after{
    content: '';
    clear: both;
    display: table;
  }
}
.common{
  &__row{
    display: flex;
    flex-wrap: wrap;
    margin: -1px;
  }

  &__col{
 
    padding: 1px;
    box-sizing: border-box;

   &--1-4{
    width: 25%;
   }
   &--2-4{
    width: 50%;
   }
   &--3-4{
    width: 75%;
   }
   &--4-4{
    width: 100%;
   }
  }
}
.services{
  padding: 120px 0;
  .section-head__title{
    max-width: 603px;
    flex-shrink: 0;
  }
  &__list{
    margin-top: 83px;

  }
  &-item{
    &__title{
      font-size: 40px;
      line-height: 36px;
      font-weight: 300;
    }
    &__desc{
      font-size: 16px;
      line-height: 22px;
    }
  }
}
.common-item{
  background-color: $white;
  padding: 23px 30px;
  box-sizing: border-box;
  min-height: 377px;

  &--orange{
    background-color: $orange;
    color: $white;
  }
  &--blue{
    background-color: $blue;
    color: $white;
  }
  &__title{
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 17px;
  }
  &__desc{
    line-height: 22px;
  }
}